.custom-carousel-item {
  position: relative;
  height: auto;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.custom-carousel-item.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.img-fit {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.thumbnail {
  width: 200px;
  cursor: pointer;
  height: 200px;
  opacity: 0.6;
  transition: opacity 0.3s ease, transform 0.3s ease;
  border-radius: 10px;
}

.thumbnail:hover,
.thumbnail.active {
  opacity: 1;
  transform: scale(1.05);
}

.carousel-caption {
  top: 10%;
  left: 5%;
  position: absolute;
  display: flex;
  align-items: self-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
}

.carousel-thumbnails {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 15px;
}

.carousel-thumbnails {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 15px;
  overflow-x: auto;
  overflow-y: hidden;
}
.carousel-thumbnails::-webkit-scrollbar {
  display: none; /* إخفاء شريط التمرير للمتصفحات التي تدعم هذه الخاصية */
}
.custom-carousel-item p {
  font-size: 18px;
  color: #ffffff8f;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 41.87px;
  width: 45%;
}
.custom-carousel-item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.custom-carousel-item h2 {
  color: #f7f7f7;
  font-weight: 500;
  font-size: 60px;
  line-height: 70px;
  font-family: "Abhaya Libre Medium";
}
.carousel-caption {
  text-align: start;
}

@media (min-width: 641px) and (max-width: 1024px) {
  .custom-carousel-item p {
    width: 100%;
  }
  .carousel-thumbnails {
    overflow-x: auto;
    overflow-y: hidden;
  }
}
@media (max-width: 640px) {
  .custom-carousel-item p {
    width: 100%;
  }
  .custom-carousel-item h2 {
    font-size: 30px;
  }
  .carousel-thumbnails {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .thumbnail {
    width: 100px;
    height: 100px;
  }
}
