.our-projects .our-projects-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.our-projects .projects-button-see-all {
  margin: 40px auto;
  margin-top: 100px;
  padding: 17px 110.5px;
  font-size: 1.375rem;
  line-height: 25.78px;
}

@media screen and (min-width: 769px) {
  .our-projects .our-projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(588px, 1fr));
  }
}
