@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

.navbar {
  box-shadow: 0 0 10px 0px #ccc;
}

.logo {
  height: 45px;
  width: 45px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}

.spark {
  /* font-family: "Roboto Serif, serif"; */
  font-style: normal;
  padding-left: 10px;
  position: relative;
  display: inline-block;
  min-width: 47px;
  color: #0d0d0d;
  font-style: normal;
}

.nav {
  background-color: aliceblue;
  font-size: 20px;
  white-space: nowrap;
}

.navlink {
  color: #aca6a6;
  font-weight: 600;
  padding-right: 20px;
  text-decoration: none;
}

.navlink-active {
  color: #1a92ce;
  font-weight: 600;
  padding-right: 20px;
  text-decoration: none;
}

.navlink:hover {
  color: #1a92ce;
}
.navlink2 {
  color: black;
  font-weight: 600;
  padding-right: 20px;
  text-decoration: none;
}
.navlink2:hover {
  color: white;
}
@media only screen and (max-width: 986px) {
  .nav {
    font-size: small;
  }
}

@media only screen and (max-width: 728px) {
  .nav {
    font-size: 12px;
  }
}

.active1 .navlink:hover {
  color: white;
}

.active1 .navlink {
  color: black;
}
.active1 .fixed-top {
  background-color: #2fb0cd !important;
}
.active1 .navlink-active:hover {
  color: white;
}

.active2 {
  color: #aca6a6;
}
.active2 .fixed-top {
  background-color: white;
}
.active2 .navlink:hover {
  color: #1a92ce;
}
@media only screen and (max-width: 768px) {
  .navbar-brand {
    padding-left: 0;
  }
  .nav .container {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar > .container {
    display: flex;
    flex-direction: row;
  }
}
