.logo{
    height: 45px;
    width: 45px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
}

.spark{
    font-family: 'Times New Roman';
    font-style: normal;
    padding-left: 10px;
    position: relative;
    display: inline-block;
    min-width: 47px;
    color: #0D0D0D;
    font-family: 'Times New Roman';
    font-style: normal;
}

.nav{
    background-color: aliceblue;
    font-size: 20px;
}


.nav-link {
    color: gray;
    font-family: bold;
}


.nav-link.hover {
    color: rgb(26, 146, 206) !important;
    
}

.nav-link.active{
    color: blue;
}







@media only screen and (max-width: 986px) {
    .nav{
        font-size: small;
    }
}

@media only screen and (max-width: 728px) {
    .nav{
        font-size: 12px;
    }
}

