.company-services {
    padding: 7rem 0 32px; 
    min-height: 100vh;
    width: 100%;
}

.company-services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(552px ,1fr));
    gap: 32px;
}


.company-services .brush4 {
    right: 0;
    top: 50%;
}

.company-services .brush5 {
    left: 0;
    top: 25%;
}

@media screen and (max-width: 767px) {
    .company-services-grid {
        grid-template-columns: 1fr;
    }
}

