.main-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
}

.main-section {
    margin-top: 5rem;
} 

.brush1 {
    left: 0;
    top: 10%;
}

.brush2 {
    right: 0;
    top: 50%;
}

.brush3 {
    left: 0;
    top: 70%;
}