.main-button {
    padding: 17px 47px;
    border-radius: 8px;
    background-color: rgba(47, 176, 205, 1);
    width: fit-content;
    transition: .1s;
    cursor: pointer;
    display: block;
}

.main-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0);
}

.main-button {
    color: rgba(0, 0, 0, 1);
    font-size: 1.125rem;
    text-decoration: none;
    font-weight: 500;
}