.student-section {
  padding: 7rem 0 92px;
  min-height: 10vh;
  width: 100%;
}
.student-section .student-section-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 92px 32px;
}

.student-card-main-button {
  margin-top: 32px;
  color: rgba(255, 255, 255, 1);
  width: 250px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .student-section .student-section-grid {
    grid-template-columns: 1fr;
  }
}

.student-section-card .img-cover {
  overflow: hidden;
  border-radius: 10px;
  max-height: 376px;
  height: auto;
  max-width: 592px;
  width: 100%;
  transition: 0.2s;
}

.student-section-card .img-cover:hover {
  box-shadow: 2px 2px 8px #ccc;
  transform: translate(-1px, -1px);
}

.student-section-card .img-cover img {
  max-height: 376px;
  height: auto;
  max-width: 592px;
  width: 100%;
  object-fit: cover;
}

.student-section-card h1 {
  font-size: 3.125rem;
  line-height: 75px;
  color: rgba(22, 80, 105, 1);
  font-weight: 600;
}

.student-section-card h2 {
  font-size: 2.1875rem;
  line-height: 20px;
  color: rgba(22, 80, 105, 1);
  letter-spacing: -1%;
  font-weight: 600;
}

.student-section-card .student-section-card-main-button {
  margin-top: 32px;
  color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 450px) {
  .student-section-card .student-section-card-main-button {
    padding-right: 110.5px;
    padding-left: 110.5px;
  }
}
@media (min-width: 641px) and (max-width: 1024px) {
  .student-section-card h1 {
    font-size: 2.125rem;
  }
  .student-section-card h2 {
    font-size: 1.875rem;
  }
}
@media (max-width: 640px) {
  .student-section-card h1 {
    font-size: 2.125rem;
    line-height: 40px;
  }
  .student-section-card h2 {
    font-size: 1.875rem;
    line-height: 10px;
  }

  .student-card-main-button {
    margin: 0;
  }
}
