
.our-services .wallpaper {
  background-color: rgba(44, 144, 167, 1);
  border-radius: 12px;
  width: 1229px;
  height: 563px;
  left: 50%;
  position: relative;
  z-index: 0;
  transform: translateX(-50%);
}



.our-services .services-cards {
  transform: translateY(-50%);
}



.services-cards {
  margin-top: -200px;

}

@media screen and (max-width: 1229px) {
  .our-services .wallpaper {
    width: 100vmax;
  }
  .services-cards {
    margin-top: -200px;
  
  }
}
@media screen and (max-width: 1024px) {

  .services-cards {
    margin-top: 40px;
  
  }
}

@media screen and (max-width: 991px) {
  .our-services .wallpaper {
    width: 900px;
  }
  .services-cards {
    margin-top: 40px;
  
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .our-services .services-cards {
    gap: 10px;
    transform: translateY(-100%) !important;
  }
  .our-services .wallpaper {
    display: none;
  }
  .our-services .services-cards {
    transform: translateY(0%) !important;
    -webkit-transform: translateY(0%) !important;
    -moz-transform: translateY(0%) !important;
    -ms-transform: translateY(0%) !important;
    -o-transform: translateY(0%) !important;
  }
}

@media screen and (min-width: 1400px) {
  .our-services .wallpaper {
    width: 1380px;
  }
}
@media (max-width: 640px) {
  .services-cards {
    gap: 15px;
  }
  .our-services .wallpaper {
    display: none;
  }
  .our-services .services-cards {
    transform: translateY(0%) !important;
    -webkit-transform: translateY(0%) !important;
    -moz-transform: translateY(0%) !important;
    -ms-transform: translateY(0%) !important;
    -o-transform: translateY(0%) !important;
  }
}
