.main-home-title {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.main-home-title h1 {
    font-size: 3.5rem;
    color: rgba(0, 0, 0, 1);
    line-height: 64.39px;
}

.main-home-title h2 {
    margin: auto;
    font-size: 1.125rem;
    color: rgba(0, 0, 0, 0.62);
    line-height: 28px;
    margin-top: 1rem;
    max-width: 768px;
}