.logo{
    height: 45px;
    width: 45px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
}

.spark{
    position: relative;
    display: inline-block;
    min-width: 47px;
    color: aliceblue;
}


.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: rgb(26, 146, 206);
}

.change-language-button,
.change-language-button.mobile {
    all: unset;
    background-color: white;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.change-language-button.mobile {
    display: none;
}

.change-language-button span {
    display: block;
    padding: 1px 3px;
    transition: 1s ease;
}

.change-language-button div {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: rgb(26, 146, 206);
    top: 0;
    z-index: -1;
    transition: .5s ease;
    /* border-radius: 10px; */
}

/* .change-language-button.en,
.change-language-button.ar {
    transition: 1s ease;
} */

.change-language-button.en div {
    left: 51%;
    transform: rotate(180deg);
}

.change-language-button.ar span:first-child {
    color: white;
}

.change-language-button.en span:nth-child(2) {
    color: white;
}

.change-language-button.ar div {
    left: -1%;
    transform: rotate(-180deg);
}

@media only screen and (max-width: 986px) {
    .nav{
        font-size: small;
    }
}

@media only screen and (max-width: 728px) {
    .nav{
        font-size: 10px;
    }
}

@media screen and (max-width: 575px) {
    .change-language-button {
        display: none;
    }
    .change-language-button.mobile {
        display: flex;
    }
}