@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

.Footer {
  width: 100%;
  height: 227px;
  background-color: #2fb0cd;
  padding-top: 0px;
  margin-top: 50px;
}
.spark-footer {
  margin-top: 10px;
  padding-left: 10px;
  position: relative;
  display: inline-block;
  min-width: 47px;
  color: #0d0d0d;
  font-family: "Roboto Serif, serif";
  font-style: normal;
}
.containerFooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 22px;
  padding-top: 22px;
}
.logoFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.logoFooter img {
  width: 75px;
  height: 75px;
}
.logoFooter p {
  font-size: 27px;
  line-height: 30px;
  font-weight: 400;
}
.gridLinks {
  display: flex;
  gap: 25px;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

.theLink {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 33.53px;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition-delay: 8ms;
  transition-duration: 300ms;
}
.theLink:hover {
  color: #ffff;
}
.socialFooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;
}
.socialFooter p {
  font-size: 13px;
  font-weight: 400;
  line-height: 24.78px;
  padding: 22px;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 120px;
  gap: 20px;
  cursor: pointer;
}
.icon {
  padding: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: black;
  color: white;
  transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition-duration: 300ms;
}

.face:hover {
  background-color: #3b5998;
  color: white;
}
.insta:hover {
  background-color: #bc2a8d;
  color: white;
}
.linked:hover {
  background-color: #007bb6;
  color: white;
}
.whats:hover {
  background-color: #25d366;
  color: white;
}
@media (min-width: 641px) and (max-width: 1024px) {
  .Footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 640px) {
  .Footer {
    padding: 0;
    height: 327px;
  }
  .containerFooter {
    display: flex;
    flex-direction: column;
  }
  .gridLinks p {
    padding-top: 20px;
    line-height: 23.53px;
    white-space: nowrap;
  }
  .socialFooter {
    display: flex;
    flex-direction: column-reverse;
  }
  .icons {
    margin: 0;
  }
}
