.swiper {
  position: relative;
}

.swiper div:focus {
  outline: none !important;
  border: none !important;
}

.our-team .swiper-slide img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-container {
  padding-top: 0px;
  padding-bottom: 50px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
}

.swiper-button-next {
  right: 10% !important;
  position: absolute;
}
.swiper-button-prev {
  right: unset !important;
  left: 10% !important;
  position: absolute;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: black;
  color: white !important;
  border-radius: 50% !important;
  cursor: pointer;
  padding: 20px !important;
  z-index: 100;
  width: 60px !important;
  height: 60px !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #42bdec;
}
.our-team .swiper-slide h3 {
  margin: 20px 0 5px 0;
  /* font-family: "Mulish", sans-serif; */
  font-size: 20px;
  font-weight: 800;
  line-height: 22px;
}

.our-team .swiper-slide p {
  /* font-family: Roboto; */
  font-size: 26px;
  font-weight: 400;
  line-height: 39.13px;
  color: #0d0d0d80;
  text-align: center;
  margin-top: 20px;
}

.our-team .swiper {
  background: #f1f6f9;
  padding: 60px 0 30px 0;
}

.our-team .swiper .swiper-slide {
  display: flex;
  justify-content: center;
}

.our-team .swiper-slide .slide-body {
  width: 50%;
  margin: 0 auto;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head-swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head-swiper span {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #42bdec;
  margin-top: 2px;
  text-align: center;
}
.our-team .swiper-button-prev:after,
.our-team .swiper-button-next:after {
  font-size: 20px !important;
}

.slider-icon {
  font-size: 3rem !important;
}

@media only screen and (max-width: 640px) {
  .our-team .swiper-slide .slide-body p {
    font-size: 20px;
  }
  .our-team .swiper-slide .slide-body {
    width: 90%;
  }
  .swiper-button-next {
    left: calc(100% - 50px) !important;
  }
  .swiper-button-prev {
    right: unset !important;
    left: 1% !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 40px !important;
    height: 40px !important;
    top: 62% !important;
  }
}
@media (min-width: 641px) and (max-width: 1024px) {
  .head-swiper {
    white-space: nowrap;
  }
  .swiper-button-next {
    left: calc(86% - 80px) !important;
  }
  .swiper-button-prev {
    right: unset !important;
    left: 15% !important;
  }
}

@media screen and (max-width: 991px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  } 
  .our-team .swiper-slide .slide-body {
    width: 90%;
  }
}
