.bounceInUp {
  animation-name: bounceInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  80% {
    transform: translate3d(0, 10px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.zoomIn {
  animation-name: zoomIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.rotate {
    animation: rotate 2s forwards;
}

@keyframes rotate {
    0% {
        width: 0;
        transform: translateX(-50%) translateY(50%) rotateX(0deg);
    }
    100% {
        width: 200px;
        transform: translateX(-50%) translateY(50%) rotateX(360deg);
    }
}


@keyframes shrink1 {
    0% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 103px;
        height: 42px;
    }
}

@keyframes shrink2 {
    0% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 152px;
        height: 37px;
    }
}
