.About {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 80px;
  padding-right: 50px;
  padding-left: 50px;
}

.about-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 6rem;
  
}

.about-right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-width: 370px;
}

.about-left h3 {
  color: #165069;
  /* font-family: "Roboto", sans-serif; */
  font-size: 34px;
  line-height: 51px;
  font-weight: 600;
}
.about-left p {
  color: #0d0d0db2;
  /* font-family: "Roboto", sans-serif; */
  line-height: 36px;
  font-size: 24px;
  font-weight: 400;
  width: 90%;
  /* margin-bottom: 150px; */
}
.about-image {
  /* width: auto; */
  width: 370px;
  height: 350px;
  
}

.about-contact h3 {
  color: #165069;
  /* font-family: "Times New Roman", sans-serif; */
  font-size: 44px;
  font-weight: 400;
  line-height: 62.19px;
  text-align: center;
  padding-top: 20px;
}
.about-contact hr {
  border: 1px solid #16506980;
}
.about-web {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.about-web p {
  /* font-family: "Poppins", sans-serif; */
  font-size: 22px;
  line-height: 35.54px;
  font-weight: 500;
  color: #165069;
}
.web-image {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.about-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.icon-about {
  color: #165069;
  cursor: pointer;
}
.icon-about a {
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition-duration: 300ms;
  color: #165069;
  font-size: 40px !important;
    display: block;
}
.icon-about a:hover {
  transform: scale(1.1);
}
@media (max-width: 640px) {
  .About {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center !important;
  }
  .about-left p {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
  }
  .about-image {
    width: 370px;
    height: 340px;
  }
}
@media (min-width: 641px) and (max-width: 1024px) {
  .About {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .about-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about-left p {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
  }
  .container-about {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-image {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 400px){
  .about-image {
    width: 180px;
    height: 180px;
    margin: 0 auto;
  }
  .About .about-icons .icon-about a {
    font-size: 30px !important;
  }
}