.details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.service-details {
  min-height: 100vh;
  width: 100%;
  padding: 7rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: padding 0.2s;
}

.service-details .img-cover {
  max-width: 772.8px;
  max-height: 453.6px;
  width: 100%;
  height: auto;

  margin: 0 auto;
  transition: 0.2s;
}

.service-details .img-cover:hover {
  box-shadow: 2px 2px 8px #ccc;
  transform: translate(-1px, -1px);
}
.service-details .detail-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.service-details p {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 36px;
  letter-spacing: 1%;
  color: rgba(66, 66, 66, 0.8);
  margin: 22px auto;
  padding: 0 15px;
  text-align: center;
  max-width: 772.8px;
  width: calc(100% - 30px);
}

.service-details h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 36px;
  letter-spacing: 1%;
  color: rgba(66, 66, 66, 1);
  margin: 42px 0;
}

.service-details .service-details-button {
  margin: 0 auto;
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 450px) {
  .service-details {
    text-align: center;
  }
}

@media screen and (min-width: 767px) {
  .service-details .service-details-button {
    padding: 28px 137.5px;
  }
}
@media (max-width: 640px) {
  .service-details {
    padding: 3rem 1rem;
  }

  .service-details .img-cover {
    max-width: 100%;
    max-height: none;
  }

  .service-details .service-details-button {
    padding: 1rem;
  }
}
